.navbar {
    background-color: #333;
    display: flex !important;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    flex-direction: row !important;
}

.public {
    display: flex;
    gap: 2em;
}

span {
    cursor: pointer;
    transition: all 400ms;
}

span:hover {
    transform: translateY(-2px);
}

.profile {
    display: flex;
}